@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  padding: 42px 0 17px 0;
}

header .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .logo h2 {
  color: #D04F4F;
}

.chercherBar, .filters {
  width: 100%;
  padding: 0 100px;
  position: relative;
}

#chercher {
  padding: 15px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.02);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
#chercher:focus {
  outline: 2px solid #D04F4F;
}

.chercherbar1 i {
  position: absolute;
  top: 16px;
  right: 115px;
  color: gray;
  cursor: pointer;
}

.filters {
  display: flex;
  justify-content: flex-start;
  padding: 15px 100px;
}
.filters .ingredient, .filters .appareils, .filters .ustensiles {
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}
.filters .matchs {
  color: gray;
  align-self: center;
  font-style: italic;
}

#ingredients-btn,
.ingredients-result-btn {
  background-color: #3282f7;
}

#appliances-btn,
.appliances-result-btn {
  background-color: #68d9a4;
}

#ustensils-btn,
.ustensils-result-btn {
  background-color: #ed6454;
}

.ingredients-box, .appliances-box, .ustensils-box {
  margin-right: 1rem;
}

/* plats styles */
#plats {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-flow: row wrap;
  padding: 0 100px;
}
#plats .single-plat {
  width: 80%;
  max-width: 380px;
  border-radius: 10px;
  background-color: #C7BEBE;
  overflow: hidden;
  margin: 30px 20px;
  box-shadow: 0 1px 3px gray;
  transform: translateY(0px);
  transition: transform 0.5s ease-out;
}
#plats .single-plat:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 5px gray;
  transition: box-shadow, transform 0.5s ease-out;
}
#plats .single-plat .plat-image {
  width: 100%;
  object-fit: cover;
  height: 200px;
}
#plats .single-plat .plat-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 20px;
  background-color: #E7E7E7;
  height: 250px;
}

.plat-header {
  display: flex;
  align-items: first baseline;
  justify-content: space-between;
  padding: 10px;
}
.plat-header .time {
  min-width: 80px;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  text-align: right;
}

.plat-header h3 {
  font-size: 18px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

.plat-body {
  height: 150px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
.plat-body .ingredients {
  padding-left: 10px;
  width: 50%;
  min-width: 160px;
}
.plat-body .ingredients li {
  list-style: none;
  font-family: "Lato", sans-serif;
}
.plat-body .description span {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  /* autoprefixer: off */
  -webkit-box-orient: vertical !important;
  /* autoprefixer: on */
  font-family: "Lato", sans-serif;
  font-size: 14px;
  padding: 0 10px;
}

#nomatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#nomatch img {
  padding: 20px;
  width: 50%;
  max-width: 250px;
  fill: gray;
}
#nomatch p {
  color: gray;
}

#selected-filter {
  padding: 10px 100px;
}
#selected-filter .ing, #selected-filter .app, #selected-filter .ute {
  display: inline-block;
  font-size: 0.7rem;
  color: white;
  padding: 5px 10px;
  border-radius: 0.25rem;
  margin: 3px;
}
#selected-filter .ing .fa-circle-xmark, #selected-filter .app .fa-circle-xmark, #selected-filter .ute .fa-circle-xmark {
  cursor: pointer;
  margin-left: 0.5rem;
}
#selected-filter .ing .fa-circle-xmark:hover, #selected-filter .app .fa-circle-xmark:hover, #selected-filter .ute .fa-circle-xmark:hover {
  color: #977571;
}
#selected-filter .ing {
  background-color: #3282F7;
}
#selected-filter .app {
  background-color: #68d9a4;
}
#selected-filter .ute {
  background-color: #ed6454;
}

.open .tag-btn {
  width: 40rem;
  border-radius: 0.25rem;
}

.open .tag-arrow {
  transform: rotateX(180deg);
}

.tag-btn {
  border-color: transparent;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 8.25rem;
  padding: 0.75rem;
  border-radius: 0.25rem;
  color: #fff;
  font-weight: 600;
}
.tag-btn:hover {
  background-color: #918c91;
}

.tag-arrow {
  margin-top: 3px;
  transition: all 0.5s;
  cursor: pointer;
}

.search-tag {
  width: 40rem;
  overflow: hidden;
  display: none;
  border: none;
  outline: none;
  background-color: transparent;
}
.search-tag::placeholder {
  color: #fff;
  opacity: 65%;
}
.search-tag:focus {
  color: #fff;
}

.tags-list {
  position: absolute;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 40rem;
  max-height: 15.8rem;
  margin-top: 0.1rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  z-index: 1;
  display: none;
}

.ingredients-option,
.appliances-option,
.ustensils-option {
  width: 30%;
  color: #fff;
  cursor: pointer;
  list-style: none;
  font-size: 0.7rem;
}

.ingredients-option:hover,
.appliances-option:hover,
.ustensils-option:hover,
.ingredients-option:focus,
.appliances-option:focus,
.ustensils-option:focus {
  color: #fff;
  opacity: 65%;
}
.ingredients-option:hover .ingredients-option,
.ingredients-option:hover .appliances-option,
.ingredients-option:hover .ustensils-option,
.appliances-option:hover .ingredients-option,
.appliances-option:hover .appliances-option,
.appliances-option:hover .ustensils-option,
.ustensils-option:hover .ingredients-option,
.ustensils-option:hover .appliances-option,
.ustensils-option:hover .ustensils-option,
.ingredients-option:focus .ingredients-option,
.ingredients-option:focus .appliances-option,
.ingredients-option:focus .ustensils-option,
.appliances-option:focus .ingredients-option,
.appliances-option:focus .appliances-option,
.appliances-option:focus .ustensils-option,
.ustensils-option:focus .ingredients-option,
.ustensils-option:focus .appliances-option,
.ustensils-option:focus .ustensils-option {
  width: 30%;
  color: #fff;
  cursor: pointer;
}

/* ingredients dropdown list*/
#ingredients-list {
  background-color: #3282f7;
}

/* appliances dropdown list */
#appliances-list {
  background-color: #68d9a4;
}

/* ustensils dropdown list */
#ustensils-list {
  background-color: #ed6454;
}

/* dropdown list scrollbars */
.scroll::-webkit-scrollbar {
  width: 6px;
  border-radius: 0.25rem;
}

#ingredients-list::-webkit-scrollbar {
  background-color: #3282f7;
}

#appliances-list::-webkit-scrollbar {
  background-color: #68d9a4;
}

#ustensils-list::-webkit-scrollbar {
  background-color: #ed6454;
}

.scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.25rem;
}/*# sourceMappingURL=styles.css.map */